

:root{
    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: #f44336;
}

.dark-mode{
    --primary-color: #595959;
    --secondary-color: white;
    --tertiary-color: #EAFFFD; 
}



/*dark 
background - 595959
tiles - 7F7F7F


*/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
    background-color: var(--primary-color);
    overflow-x:hidden;
}

.hero {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    text-align: left;
    position: relative;

}


.hero .text-box {
    width: 60%;
    margin: 45vh auto; /*makes the textbox half way down and auto the center*/
    color: var(--secondary-color);
}

.text-box h1 {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 50px;
}


.text-box .btn {
    margin: 30px 0; /*how far away button is from text above (p2)*/
    display: flex;
    padding: 10px 18px; /*how far the lines of button are from text*/
    
    width: 85px;

    color: var(--primary-color);
    font-size: 16px;
    border-radius: 5px;

    text-decoration: none;
    background: var(--secondary-color);
    cursor: pointer;
}

.text-box .btn:hover {        
    background: var(--tertiary-color);
    color: var(--primary-color);
}

.aboutMeP{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.aboutMeP img{
    
    max-width: 300px;
}

.aboutMeP p2{
    margin-left: 20px;
}





.sidebar {
    height: 335px;
    width: 60px;
    background: var(--primary-color);
    border-radius: 5px;
    position: fixed;
    top: 25%;
    right: 50px;
    transform: translateY(-75%);
    text-align: center;
}

.icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 5px auto;
    text-align: center;
    background-color: var(--tertiart-colour);
}

.side-text {
    min-width: 0px;
    height: 100%;
    background: var(--tertiary-color);
    margin-right: 5px;
    line-height: 0;
    color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    transition: 0.5s; /*this transitions the side-text coming out*/
   
    text-decoration: none;
}

.icon {
    min-width: 50px;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    
}

/*make the icons red and spaced out nice*/
.icon .fas {
    font-size: 20px;
    color: var(--tertiary-color);
    line-height: 50px;
}

.icon .fab {
    font-size: 20px;
    color: var(--tertiary-color);
    line-height: 50px;
}

.icon .far {
    font-size: 20px;
    color: var(--tertiary-color);
    line-height: 50px;
}


/*when hover make icon background red*/
.icon-box:hover .icon {
    background-color: var(--tertiary-color);
}

/*when hover make icons white*/
.icon-box:hover .icon .fas {
    color: var(--primary-color);
}

.icon-box:hover .icon .fab {
    color: var(--primary-color);
}

.icon-box:hover .icon .far {
    color: var(--primary-color);
}

/*when hover make the sidetext come out*/
.icon-box:hover .side-text {
    min-width: 140px; /*min-width was 0px above, when hover we change it to make it visible*/
}




/*here starts social sidebar stuff*/
/*here starts social sidebar stuff*/
/*here starts social sidebar stuff*/
/*here starts social sidebar stuff*/
/*here starts social sidebar stuff*/

.wrapper {
    display: flex;
    position: fixed;
   
}

/*here we chanaged to make pos fixed and bottom = 0, height = 200 to make it fit the bottom*/
.wrapper .socialSidebar {
    position: fixed;
    bottom: 0;
    width: 100px;
    height: 220px;
    text-align: center;
}

.wrapper .socialSidebar .vertical {
    border-left: 2px solid var(--secondary-color);
    height: 100px;
    width: 100px;
    margin-left: 60px; /*centers vertical line with icons*/
    
}



/*makes the icon glow when hovered over*/
.wrapper .socialSidebar ul li:hover a {
    color: var(--tertiary-color);
    /*background: blue;*/
    top: 50px;
    transform: scale(1.5); /*enlarges icon by 150% when hovered over
*/
}


/*sets color of the icon*/
.wrapper .socialSidebar a {
    display: block;
    width: 40px;
    height: 45px;
    font-size: 25px;
    line-height: 50px;
    color: var(--secondary-color);
}

.anchor {       /*used to center the screen on different sections when href links are clicked (sidebar icons)*/
    display: block;
    transform: translateY(-50vh);
    visibility: hidden;
}


/* --------------------------------- project boxes --------------------------------- */
/* --------------------------------- project boxes --------------------------------- */
/* --------------------------------- project boxes --------------------------------- */
/* --------------------------------- project boxes --------------------------------- */
/* --------------------------------- project boxes --------------------------------- */

.projectsTitle {
    font-size: 42px; 
    font-weight: bolder;
    text-align: center;
}

.horizontalLine {
    border-top: 5px solid var(--secondary-color);
    width: 240px;
    margin: auto;
    margin-bottom: 10px;
}

.gallery {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; /*makes individual boxes centered*/
    font-size: 0; /*added to get rid of spacing between project boxes*/
    
}

.gallery img {
    height: 300px;
    width: 300px; 
}

.gallery .projectBox {
    width: 300px;
    position: relative;
    display: inline-block;
    margin: 10px; /*can be used to make the photos spaced out*/

}


.gallery .projectBox img {
    width: 100%;
    transition-duration: 0.5s;
    opacity: 1; 
}

/*when hover over image, the image disappears*/
.gallery .projectBox:hover img {
    opacity: 0;
}


.gallery .projectBox .span {
    text-align: center;
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;

}

.gallery .projectBox .span p1 {
    margin: auto;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    
}

.gallery .projectBox .span p2 {
    margin: auto;
    font-size: 16px;
    line-height: 40px;
    display: inline-block;
}

.gallery .projectBox:hover .span {
    opacity: 1; 
    display: block;

}

.gallery .projectBox .span a {
    text-decoration: none;
}


/*modal open buttons*/
.gallery .projectBox .span .modal-open {
    display: flex; /*makes layout nice :) */
    width: 150px;
    padding: 10px; /*how far the lines of button are from text*/
    margin: 30px auto;
    color: var(--secondary-color);
    font-size: 20px;
    outline: none;
    border: 2px solid var(--tertiary-color);
    background: transparent;
    cursor: pointer;
}

.gallery .projectBox .span .modal-open:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}


/* -------------------------------------------------------------------------------- */
/*                                   skills section                                 */
/* -------------------------------------------------------------------------------- */


.skillIcons{
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    
   
}

.skillIcons img{
    width: 100px;
}


.skillWrap{
    position: relative;
    display: inline-block;
}

.skillDescription {
    
    
    height: 300px;
    width: 300px;
    
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    
    top: 100px;
    bottom: 0;
    
    background: var(--primary-color);
    color: var(--secondary-color);
    
    
    text-align: center;

    visibility: hidden;
    opacity: 0;
    z-index: 100;
    
  }

  .skillDescription .btn {
      margin: auto;
      margin-bottom: 20px;
  }


  .skillWrap:hover .skillDescription {
    visibility: visible;
    opacity: 1;
    border: solid var(--secondary-color);
    border-width: 1px;
    
  }







/* -------------------------------------------------------------------------------- */
/*                                   modal                                          */
/* -------------------------------------------------------------------------------- */

.modal {

    /* maybe play around with minsize/maxsize to make this better reactive*/
    width: 60%;
    height: 80%;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2; /*so appears on top of overlay*/
    text-align: center;
    background-color: white;
    display: none; /*change to none  change back to none change back to none change back to none*/
    
}


.modal.active {
    display: flex; 
}

.modal .modal-content {
    border-radius: 4px;
    text-align: center;
    
   /* position: relative; */

}

/*header for modal*/
.modal .modal-content .modal-header {

    display: flex;
    justify-content: space-around;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}

.modal .modal-content .modal-header h2 {
    text-decoration: underline;
    margin: 0;
    padding: 0.5rem 1rem;
}


/*modal close close button*/
.modal .modal-header .modal-close {
    float: right;
    background-color: transparent;
    border: none;
    font-size: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.modal .modal-header .modal-close:hover {
    background-color: #f44336;
    color: white;
    
}


/* -------------------------------------------------------------------------------- */
/*                              image scroller                                      */
/* -------------------------------------------------------------------------------- */

.modal .modal-content .modal-slideImg .slide_img{
    position: absolute;
    width: 100%;
    height: 88%;
    
}

input[type="radio"] { display: none; }  /* hides the inbuilt radio buttons (img selector circles) */

.modal .modal-content .modal-slideImg .slide_img img{
    height: inherit;
    width: inherit;
    padding-left: 0;
    padding-top: 0;
}

.prev, .next{
    width: 12%;
    height: inherit;
    position: absolute;
    top:0; 
    background-color: rgba(209, 209, 209, 0.2);
    color:rgba(244, 244, 244,0);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.next{
    right:0;
}
.prev{
    left:0;
}

label span{
    position: absolute;
    font-size: 100pt;
    top: 35%;
    transform: translate(-50%);
    
}

.prev:hover, .next:hover{
    transition: .3s;
    background-color: rgba(88, 88, 89,.8);
    color: #ffffff; 
}

.modal-slideImg #nav_slide{
width: 100%;
bottom: 20%;
height: 11px;
position: absolute;
text-align: center;
z-index: 99;
cursor: default;

}

#nav_slide .dots{

width: 18px;
height: 18px;
margin: 0 5px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: rgba(180, 178, 178, 0.8);
transition: .4s;
}

#nav_slide .dots:hover {
cursor: pointer;
background-color: rgba(88, 88, 89,.8);
transition: .25s
}

.slide_img{
    z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five
{z-index: 9;}

#i1:checked  ~  #nav_slide #dot1,
#i2:checked  ~  #nav_slide #dot2,
#i3:checked  ~  #nav_slide #dot3,
#i4:checked  ~  #nav_slide #dot4,
#i5:checked  ~  #nav_slide #dot5
{ background-color: #f44336;}

/*ix_ for 2nd project box*/
#i1_:checked ~ #one_,
#i2_:checked ~ #two_,
#i3_:checked ~ #three_,
#i4_:checked ~ #four_,
#i5_:checked ~ #five_
{z-index: 9;}

#i1_:checked  ~  #nav_slide #dot1_,
#i2_:checked  ~  #nav_slide #dot2_,
#i3_:checked  ~  #nav_slide #dot3_,
#i4_:checked  ~  #nav_slide #dot4_,
#i5_:checked  ~  #nav_slide #dot5_
{ background-color: #f44336;}

/*ix__ for 3nd project box*/
#i1__:checked ~ #one__,
#i2__:checked ~ #two__,
#i3__:checked ~ #three__,
#i4__:checked ~ #four__,
#i5__:checked ~ #five__
{z-index: 9;}

#i1__:checked  ~  #nav_slide #dot1__,
#i2__:checked  ~  #nav_slide #dot2__,
#i3__:checked  ~  #nav_slide #dot3__,
#i4__:checked  ~  #nav_slide #dot4__,
#i5__:checked  ~  #nav_slide #dot5__
{ background-color: #f44336;}



@media screen and (max-width: 685px){  /* scales size of sidescroller bars */ 
    .modal-slideImg{
        border: none;
        width: 100%;
        height: 0;
        padding-bottom: 55%; 
    }	

    label span { font-size: 50pt; }

    .prev, .next{
        width: 15%;
    }	
    #nav_slide .dots{
        width: 12px;
        height: 12px;
    }
}

@media screen  and(min-width: 970px){
    .me{ display: none;}
}


/* -------------------------------------------------------------------------------- */
/*                                     imagescroller end                            */
/* -------------------------------------------------------------------------------- */


.modal .modal-content .modal-footer{
    height: 60px; 
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: right;
    right: 15px;
}

/*--------------------------------------------------------------
could optimise this to have only 1 for each icon (not duplicated) 
+ not hardcoding the position of icons (4 below) 
-----------------------------------------------------------------*/

.modal .modal-content .modal-footer a{
    color: black;
    right: 15px;
    bottom: 15px;
    font-size: 30px; /*this dictates the size of the icon*/
    display: inline-block;
    
}


.modal .modal-content .modal-footer a .fas:hover {
    color:#f44336;
}

.modal .modal-content .modal-footer a .far:hover {
    color:#f44336;
}

.modal .modal-content .modal-footer a .fab:hover {
    color:#f44336;
}



#overlay {
    /*z-index: 1;*/ z-index: 1;
    display: none; /*change back to none change back to none change back to none change back to none*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

#overlay.active {
    display: block;
}

/* -------------------------------------------------------------------------------- */
/*                                     modal end                                    */
/* -------------------------------------------------------------------------------- */
